body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.box {
  width: 300px;
  background: white;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 8px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

p {
  color: blue;
  cursor: pointer;
  font-size: 14px;
}